<!DOCTYPE html>
<html>
  <head>
    <title>Winnie et ses amis</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/home/importer.css">

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/home/manager.js"></script>
    <script src="/js/home/main.js"></script>

  </head>

  <body>
    <%- body %>
  </body>
</html>
