<img id="background" src="images/background.jpg" />
<div class="mapContainer">
	<img src="images/map.png" />
</div>
<div class="playContainer">
    <div>Jouer</div>
    <img src="images/cloud.png" />
</div>
<div class="avatarContainer">
    <div class="label">
        Choisir un joueur
    </div>
    <div id="avatarChoice"></div>
</div>