<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/importer.css">

    <script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/phaser.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/main.js"></script>

  </head>

  <body>
    <%- body %>
  </body>
</html>
